.container {
  background-color: #011526;
  width: 100%;
  height: 100vh;
}

.messages__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: beige; */
  background-color:#011526;
  margin-left: 200px;
  width: calc(100vw - 200px);
  height: calc(100vh - 80px);
}

.messages__conversation {
  background-color: #7c4c96;
  width: 70%;
  height: calc(100vh - 120px);
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #000000;
}

.messages__header {
  background-color: #5d3f6d;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #000000;
}

.messages__header__avatar {
  /* background-color: yellowgreen; */
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.messages__header__avatar::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  border: 2px solid white;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.messages__header__avatar__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.messages__header__info {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
}

.messages__header__info__name {
  /* background-color: orange; */
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.messages__header__username {
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: #eeead7;
}

.messages__header__time {
  padding: 0;
  margin: 0;
  color: #cccccc;
}

.messages__body {
  background-color: transparent;
  width: 90%;
  height: 72%;
  margin: 20px;
  border-radius: 20px;
}

.messages__body__message {
  background-color: #b96eb1;
  border-radius: 20px;
  color: #ffffff;
  padding: 12px;
  min-width: 72%;
  max-width: 82%;
}
.messages__body__message__text {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.messages__body__message__time {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #cccccc;
  text-align: right;
}
.messages__input {
  background-color: #5d3f6d;
  width: 90%;
  height: 50px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 3px #000000;
}

.messages__input__text {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 82%;
}

.messages__contacts {
  background-color: #7C4C96;
  width: 30%;
  height: calc(100vh - 120px);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.messages__contacts__title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 0;
}

.messages__contacts__contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px #000000;
  background-color: #5d3f6d;
}

.messages__contacts__contact__avatar {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages__contacts__contact__avatar__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.messages__contacts__contact__info {
  color: #fff;
  margin-left: 10px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .messages__container {
    margin-left: 70px;
  }
}
