.CardHome {
  width: 260px;
  height: 315px;
  background-color: #252836;
  border-radius: 30px;
  margin-top: 30px;
}

.card-top {
  background-color: cornflowerblue;
  height: 160px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
}

.instructor {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 180px;
  margin-top: -30px;
}

.verificado {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #08a0f7;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #252836;
  position: absolute;
  margin-left: 45px;
  margin-top: 35px;
}

.duracion {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  color: #f9f9f9;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 8px;
  top: 15px;
  left: 190px;
}

.duracion-text {
  margin: 0;
}

.card-instructor {
  color: #b7b9d2;
  font-size: 13px;
  margin: 0;
}

.card-title {
  color: #f9f9f9;
  font-size: 16px;
}

.visitas {
  color: #808191;
  font-size: 12px;
}

.avatar {
}

.card-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}
