.container{
  background-color: #011526;
  width: 100%;
  height: 100vh;
}

.events__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: beige; */
  margin-left: 200px;
  width: calc(100vw - 200px);
  height: calc(100vh - 80px);
  padding: 20px;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}


@media screen and (max-width: 768px) {
  .events__container {
    width: calc(100vw - 70px);
    margin-left: 70px;
  }
}